---
title: Middleman Example Site
---

<div class="container">
  <header class="jumbotron">
    <h1>Middleman Example Site</h1>
    <p>Example site using Middleman and Grunt hosted on Github Pages.</p>
  </header>
</div><!--/.container -->
